$primary-color: #6200ea;
$hover-color: #7b61ff;
$active-color: #5642a6;
$error-color: #721c24;
$error-bg: #f8d7da;
$success-color: #4caf50;
$success-bg: #d4edda;
$incorrect-bg: #f8d7da;
$footer-background-color: #f8f9fa;
$footer-border-color: #e7e7e7;
