@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    color: #333;
    margin: 1.5rem auto;
    width: 90%;
    max-width: 500px;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Increased shadow */
    background-color: #fff;
    overflow: hidden;
    animation: slideInFromTop 0.5s ease-out forwards;

    &:hover {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
    }

    &-body {
        padding: 2rem;
    }

    &-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: #b30000;
    }

    &-text {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #4d4d4d;
    }

    &-image {
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }
}

.card-title .translate-button,
.card-text .translate-button {
    padding: 1rem;
    font-size: 1rem;
    color: #b30000;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    transform: translateY(-50%);
}