$background-linear-gradient-start: #7F25FD;
$background-linear-gradient-end: #FF86A1;
$link-color: white;
$link-hover-color: #b2dfdb;
$main-menu-text-color: #EE82EE;
$burger-menu-background-color: #D147A3;
$burger-menu-border-color: #B53591;
$menu-background-color: #E1D3F2;
$menu-hover-background-color: #CA5BA6;
$menu-hover-text-color: #FFF;

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  nav {
    background: linear-gradient(to right, $background-linear-gradient-start, $background-linear-gradient-end);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;

    a {
      color: $link-color;
      text-decoration: none;
      margin: 0 15px;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      padding: 1rem;
    }
    width: auto;
    nav a {
      font-size: 0.8rem;
      margin: 0 5px;
    }
  }
}

.main-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 500;
  color: $main-menu-text-color;


  .burger-menu {
    z-index: 999;
    cursor: pointer;
    padding: 0.8rem;
    font-size: 24px;
    background-color: $burger-menu-background-color;
    color: white;
    border: 2px solid $burger-menu-border-color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .main-menu.active .burger-menu {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
  }

  .menu-items {
    transform: translateX(100%);
    transition: transform 0.5s ease;
    will-change: transform;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: $menu-background-color;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;

    a {
      padding: 10px 20px;
      text-decoration: none;
      color: #333;
      width: 100%;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        background-color: $menu-hover-background-color;
        color: $menu-hover-text-color;
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }
    }

    &.active {
      //display: flex;
      animation: slideFadeInRight 0.5s ease-in-out forwards;
    }
  }

  @media (max-width: 768px) {
    .menu-items {
      width: 200px;
    }

    .burger-menu {
      width: 40px;
      height: 30px;
  
      .burger {
        width: 100%;
        height: 2px;
        background-color: #fff;
      }
    }
  }
}

@keyframes slideFadeInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
