@use "../abstracts" as *;

.test-results {
    margin: 1rem;
    overflow-x: auto;
    color: $primary-color;

    .correct-answer {
        background-color: $success-bg;
        color: $success-color;
    }

    .incorrect-answer {
        background-color: $incorrect-bg;
        color: $error-color;
    }

    @media (max-width: 768px) {
        padding: $test-results-padding-mobile;
    }
}
