@use "../abstracts" as *;

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Merriweather:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0 0 70px;
  font-family: "Merriweather", serif;

  background-image: url('/assets/config_bg.jpg'); /* Replace 'background-image.jpg' with the path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
}

h1,
h2,
h3 {
  font-family: "Tangerine", cursive;
  line-height: 1.1;

  &.h1 {
    font-size: map-get($font-sizes, "900");
    font-weight: 700;
  }

  &.h2 {
    font-size: map-get($font-sizes, "800");
    font-weight: 400;
  }

  &.h3 {
    font-size: map-get($font-sizes, "700");
    font-weight: 400;
  }
}
