/* About Page Styles */
.about-page {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow:
            0 0 40px rgba(0, 0, 0, 0.2),
            0 0 80px rgba(0, 0, 0, 0.1),
            0 0 120px rgba(0, 0, 0, 0.05);
    position: relative;


    background-clip: padding-box;
    border-image: linear-gradient(to right, #8a2be2, #9932cc, #9400d3, #800080) 1; /* Gradient border */
}


.about-page::before, .about-page::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    border-radius: 20px;
    z-index: -1;
}

.about-page::after {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}


.about-page:hover {
    background-color: #f0f0f0;
    box-shadow:
            0 0 40px rgba(0, 0, 0, 0.2), /* Base shadow */
            0 0 80px rgba(0, 0, 0, 0.1), /* Additional shadow for depth */
            0 0 120px rgba(0, 0, 0, 0.05), /* Additional shadow for depth */
            0 0 160px rgba(138, 43, 226, 0.5); /* Gradient shadow */
}

.about-page:hover p {
    color: #666;
}



h1 {
        color: #333; // Dark text color for contrast
        font-size: 2.25rem; // Large font size for the heading
        margin-bottom: 1rem; // Space below the heading
        text-align: center; // Center the heading text
    }

    p {
        color: #666; // Medium-dark text color for paragraphs
        font-size: 1rem; // Standard font size for readability
        line-height: 1.6; // Increased line height for better readability
        margin-bottom: 1rem; // Space below each paragraph
    }

    ul {
        list-style: inside square; // Squared bullet points inside the list
        margin-bottom: 1rem; // Space below the list
    }

    li {
        margin-bottom: 0.5rem; // Space below each list item
    }

    strong {
        color: #004d40; // Use a strong color to highlight important terms
    }

