/* History Page Styles */
.history-page {
  position: relative;
  overflow: hidden; /* Hide overflow to prevent background image from sticking out */
}

.history-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/history_bg.jpg'); /* Replace with your background image URL */
  background-size: cover;
  filter: blur(8px); /* Add blur effect to the background */
  z-index: -1; /* Send the background behind other content */
}

.content {
  position: relative;
  z-index: 1; /* Bring the content above the background */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Add semi-transparent white background for readability */
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add initial shadow */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: fadeIn 1s ease; /* Add fade-in animation */
}

/* Add gradient shadow effect */
.content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); /* Adjust gradient colors as needed */
  z-index: -1;
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
