.navigation {
  nav {
    background: linear-gradient(to right, #7F25FD, #FF86A1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    animation: slideIn 0.5s ease-in-out; /* Apply animation to nav */

    a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #b2dfdb;
      }
    }
  }


@media (max-width: 768px) {
    nav a {
      font-size: 0.8rem;
      margin: 0 5px;
    }
  }
}

.main-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 500;

  .burger-menu {
    z-index: 999;
    cursor: pointer;
    padding: 0.8rem;
    font-size: 24px; // Adjust as needed
    background-color: #333; // Dark background for contrast
    color: white;
    border: 2px solid #666; // Subtle border for more definition
    border-radius: 4px; // Optional: adds rounded corners
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-items {
    position: fixed;
    top: 0;
    right: 0; // Adjusted to slide out from the right
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.1); // Shadow direction adjusted for right side
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Align items to the start (right side)
    padding-top: 60px; // Adjusted to not overlap with burger menu
    transform: translateX(100%); // Adjusted to be hidden on the right side
    transition: transform 0.3s ease-in-out;

    a {
      padding: 10px 20px;
      text-decoration: none;
      color: #333;
      width: 100%;
      box-sizing: border-box;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #f4f4f4;
      }
    }

    &.active {
      transform: translateX(0); // Adjusted to slide in from the right
    }
  }
}