.navigation nav {
    background-color: #004d40;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navigation nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s;
}

@media (max-width: 768px) {
    .navigation nav a {
        margin: 0 5px;
    }
}

.navigation nav a:hover {
    color: #b2dfdb;
}

/* Main Menu Container */
.main-menu {
    position: relative;
}

/* Burger Menu Icon */
.burger-menu {
    position: fixed;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 999;
    cursor: pointer;
    padding: 0.8rem;
    font-size: 24px; /* Adjust as needed */
    background-color: #333; /* Dark background for contrast */
    color: white;
    border: 2px solid #666; /* Subtle border for more definition */
    border-radius: 4px; /* Optional: adds rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu Items Container */
.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px; /* Adjusted to not overlap with burger menu */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

/* Link Styling */
.menu-items a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
}

.menu-items a:hover {
    background-color: #f4f4f4;
}

/* Display the menu when is_menu_open is true */
.main-menu .menu-items.active {
    transform: translateX(0);
}
